<% provide(:title, @season.name) %>
<div class="row">
  <aside>
    <section>
      <h1>
        <%= @season.name %>
	  </h1>
	  <section>
		  <h5>
			<%= "#{"%02d" % @season.start_date.day}.#{"%02d" % @season.start_date.month}.#{@season.start_date.year} --- #{"%02d" % @season.end_date.day}.#{"%02d" % @season.end_date.month}.#{@season.end_date.year}"%>	 
		  </h5>
		</section>
    </section>
	<section>
      <h3>
        Spieltage ( 
		<% if @season.next_matchday_number.nil?%>
			<%= link_to "Übersicht", season_matchdays_path(@season)%>
		<% else %>
			<%= link_to "Neuer Spieltag: #{@season.next_matchday_number}", new_season_matchday_path(@season)%>
		<% end %>
		 )
	  </h3>
    </section>
	<ul class="matchdays">
		<% if @season.matchdays.count > 0 %>
			<div class="row">
			<aside>
				<% @season.matchdays.each do |matchday| %>
					<div class="span1">
						<%= render partial: 'matchdays/matchday', locals: { matchday: matchday } %>
					</div>
		  		<%end%>
			</aside>
			</div>
		<%else%>
			<h6>Keine Spieltage vorhanden</h6>
		<%end%>
	</ul>
	<section>
      <h3>
        Mannschaften
	  </h3>
    </section>
	<ul class="teams">
		<% if @season.teams.count > 0 %>
			<div class="row">
			<aside>
				<% @season.teams.each do |team| %>
					<div class="span3">
						<%= render partial: 'teams/team', locals: { team: team } %>
					</div>
		  		<%end%>
			</aside>
			</div>
		<%else%>
			<h6>Keine Mannschaften vorhanden</h6>
		<%end%>
	</ul>
	<section>
      <h3>
        Mitspieler
	  </h3>
    </section>
	<ul class="users">
		<% if @season.users.count > 0 %>
			<div class="row">
			<aside>
				<% @season.users.each do |user| %>
					<div class="span3">
						<%= render partial: 'users/user', locals: { user: user } %>
					</div>
		  		<%end%>
			</aside>
			</div>
		<%else%>
			<h6>Keine Mitspieler vorhanden</h6>
		<%end%>
	</ul>
	<section>
	  <%= link_to "Einstellungen", edit_season_path(@season), class: "btn" if current_user.is_admin? %>
	  <%= button_to "Punkte neu berechnen!", action: "calculate", class: "btn btn-warning" if current_user.is_admin?%>
	</section>
  </aside>
</div>