.row.overview
	.span4
		%h1="Tippeingabe #{@matchday.number}. Spieltag"
		%h2= "#{@matchday.has_wday_humanize}, #{"%02d" % @matchday.date.day}.#{"%02d" % @matchday.date.month}.#{@matchday.date.year}, #{"%02d" % @matchday.date.hour}:#{"%02d" % @matchday.date.min}" if !current_user.is_admin?
		%h2="#{@user.nickname} (#{@user.name})" if current_user.is_admin?
	.span8
		%p
		- i=0
		.row.right
			- i=0
			- @season.matchdays.each do |m|
				- i += 1
				- if i == 18
					%p
				- if m == @matchday
					=link_to m.number, user_season_matchday_tipps_index_path(@user, @season, m), class: 'btn btn-primary btn-small width_12'
				- else
					- if m.has_games_to_tipp?
						- if m.is_all_tipped_by?(@user)
							=link_to m.number, user_season_matchday_tipps_index_path(@user, @season, m), class: 'btn btn-success btn-small width_12'
						-else
							=link_to m.number, user_season_matchday_tipps_index_path(@user, @season, m), class: 'btn btn-danger btn-small width_12'
					- else
						=link_to m.number, user_season_matchday_tipps_index_path(@user, @season, m), class: 'btn btn-small width_12'
%p
- if current_user.is_admin?
	.row
		=form_tag user_season_matchday_tipps_select_user_path, method: :post do
			.left.span1.input-medium= select_tag "user", options_from_collection_for_select(@season.users, "id", "nickname", selected: @user.id)
			&nbsp;
			=submit_tag " <- Gehe zu", class: "btn btn-primary btn-small"
%hr			
- if @matchday.games.any?
	=form_tag user_season_matchday_tipps_save_tipps_path, method: :post do
		%table.table.table-bordered.table-condensed#games
			%body
				- i = 0
				- @matchday.games.ordered_by_date.each do |game|
					- if game.can_be_tipped?
						- i += 1
						%tr
							%td.day-column="#{human_wday(game.date)} "+" #{human_date(game.date)}"
							%td.time-column= human_time(game.date)
							%td.picture-column
								= hidden_field_tag game_id_tag(i), game.id
								= hidden_field_tag "game_count", i
							%td.team-column
								= link_to game.home.name, team_path(game.home)
								%br
							%td.picture-column	
							%td.team-column
								= link_to game.guest.name, team_path(game.guest)
								%br
							%td.tipp-column
								- home = game.tipp_of(@user) ? game.tipp_of(@user).home_goals : 0
								= number_field_tag home_tag(i), home, :in => 0...10, class: :quarter_small
							%td.tipp-column
								- guest = game.tipp_of(@user) ? game.tipp_of(@user).guest_goals : 0
								= number_field_tag guest_tag(i), guest, :in => 0...10, class: :quarter_small
							%td.result-column
								="DetsiMeter"
								
					- else
						%tr
							%td.day-column.deactivated="#{human_wday(game.date)} "+" #{human_date(game.date)}"
							%td.time-column.deactivated= human_time(game.date)
							%td.picture-column
							%td.team-column.deactivated
								= link_to game.home.name, team_path(game.home)
								%br
							%td.picture-column	
							%td.team-column.deactivated
								= link_to game.guest.name, team_path(game.guest)
								%br
							%td.tipp-column.deactivated
								= game.tipp_of(@user) ? game.tipp_of(@user).home_goals : "-"
							%td.tipp-column.deactivated
								= game.tipp_of(@user) ? game.tipp_of(@user).guest_goals : "-"
							%td.result-column
								- if game.has_final_result?
									="#{game.home_goals} : #{game.guest_goals}"
									%br
									=game.tipp_of(@user) ? "#{game.tipp_of(@user).points} Punkte" : "0 Punkte"
		
		.right=submit_tag 'Speichern', class: "btn btn-primary" unless i == 0
		%h3.right= "#{@matchday.finished_points_for(@user)} Punkte" if i == 0
- else
	%h1 
	%h6.center="Keine Spiele verfügbar"