<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
		<a href="<%= user_path(@user) %>"> <%= gravatar_for @user, size: 72 %> </a>
        <%= @user.nickname %>
	  <h2>
		<%= @user.name %>
      </h2>
	  </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
	<section>
      <h3>
        Wettbewerb
	  </h3>
    </section
	<ul class="seasons">
		<% if @user.seasons.count > 0 %>
			<div class="row">
			<aside>
				<% @user.active_seasons.each do |season| %>
					<h4 class="span2">
						<% if @user == current_user %>
							<%= link_to season.name, user_season_matchday_tipps_index_path(@user, season, season.active_matchdays.first) %>
						<% else %>
							<%= season.name%>
						<% end%>
					</h4>
		  		<%end%>
			</aside>
			</div>
		<%else%>
			<h6>Keine Saisons vorhanden</h6>
		<%end%>
	</ul>
	<section>
	  <%= link_to "Einstellungen", edit_user_path(@user), class: "btn" if identic_or_admin? %>
	</section>
  </aside>
</div>