<%= form_for([@season, @matchday, @game]) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
	
	<%= f.label :Datum %>
	<%= f.date_select :date %>
		
	<div class="field">
    	<%= f.label :Heim %><br />
    	<%= f.select :home_id, free_teams.collect { |t| [ t.name, t.id] }, { }, { multiple: false, size: 5 } %>
  	</div>

	<div class="field">
    	<%= f.label :Gast %><br />
    	<%= f.select :guest_id, free_teams.collect { |t| [ t.name, t.id] }, { }, { multiple: false, size: 5 } %>
  	</div>
	
  <%= f.submit "Speichern", class: "btn btn-large btn-primary" %>
<% end %>