<% provide(:title, @matchday.number) %>
<div class="row">
  <aside>
    <section>
      <h1>
        <%= "Spieltag: #{@matchday.number} (##{@matchday.id})" %>
		<%= "Saison" %>
		<%= link_to @matchday.season.name, season_path(@matchday.season) %>
	  	<%= link_to "Einstellungen", edit_season_matchday_path(@matchday.season, @matchday), class: "btn" if current_user.is_admin? %>
	  </h1>
	  <section>
		  <h5>
			<%= "#{@matchday.has_wday_humanize}, #{"%02d" % @matchday.date.day}.#{"%02d" % @matchday.date.month}.#{@matchday.date.year}, #{"%02d" % @matchday.date.hour}:#{"%02d" % @matchday.date.min}" %>
		  </h5>
		</section>
    </section>
	<section>
      <h3>
        <%= link_to "Spiele", season_matchday_games_path(@matchday.season, @matchday) %>
	  </h3>
    </section>
	<section>
		<ul class="games">
			<% if @matchday.games.count > 0 %>
				<div class="row">
				<aside>
					<% @matchday.games.ordered_by_date.each do |game| %>
						<div>
							<%= render partial: 'games/game', locals: { game: game } %>
						</div>
			  		<%end%>
				</aside>
				</div>
			<%else%>
				<h6>Keine Spiele vorhanden</h6>
			<%end%>
		</ul>
		<%= link_to "Neues Spiel", new_season_matchday_game_path(@matchday.season, @matchday), class: "btn btn-success" if current_user.is_admin? && @matchday.games.count < 9 %>
	</section>
	<section>
		<%= button_to("Nachfolgende Spieltage datieren", { action: :in_row, id: @matchday.id},  method: :put, :confirm => 'Sicher, dass du alle nachfolgenden Spieltage neu datieren willst?', class: "btn btn-small btn-danger") %>
		<%= button_to("Spieledatum = Spieltagsdatum", { action: :redate_games, id: @matchday.id},  method: :put, :confirm => 'Sicher, dass du alle Spiele auf den Spieltag datieren willst?', class: "btn btn-small btn-danger") %>
	</section>
    <section>
		  	<%= link_to "<- Vorheriger Spieltag", season_matchday_path(@matchday.season, @matchday.season.matchdays.find_by_number(@matchday.number - 1)), class: "btn" if @matchday.season.matchdays.find_by_number(@matchday.number - 1) %>
	  		<%= link_to "Nächster Spieltag ->", season_matchday_path(@matchday.season, @matchday.season.matchdays.find_by_number(@matchday.number + 1)), class: "btn" if @matchday.season.matchdays.find_by_number(@matchday.number + 1) %>
	</section>
  </aside>
</div>